/* 商店列表图片控制 */
.shoplisttemp img{
	width: 100%;
	max-width: 150px;
}

/* 扁担水平线 */
.recommend-line{
	width: 6vw;
    height: 0.2vw;
    background-color: #888
}

/* 首页广告图片背景控制 */
.mainadvertisingbg{
	width: 95%;
	height: 30vw;
	margin:0 auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 抵消固定定位空间 */
.forfixtop{
	margin-top:7em ;
}
.forfixbottom{
	margin-bottom:7em ;
}
.forfixbottom::after{
	display: block;
	content: "----------- this is a bottom line -----------";
	text-align: center;
	color: #6C757D;
}

/* 购买页(进入商店页面) 图片控制 */
.buy .shopimg{
	max-width: 300px;
}

/* 购物车同心圆 */
.cicel{
	user-select: none;
	position:relative ;
	border-radius: 50%;
	width:2em;
	height: 2em;
	line-height: 0;
	border: 0.3em solid #343A40;
	background-color: #007BFF;
	font-size: 2em;
	color: #fff;
	margin:0;
	padding:0;
	top: -1em;
	box-sizing: content-box;
	outline: none ;
}

/* 购物车点击变化 */
.cicel:active{
	border: 0.3em solid #007BFF;
	background-color: #343A40;
}
.cicel:active i{
	color:#F1B0B7 ; 
}

/* 购物车文本图标 */
.cicel .incicel{
	position: relative;
	top: 0.5em;
	left:-0.03em;
}

/* 消息小红圆 */
.smallredcicel{
	position:absolute;
	background-color: red;
	border-radius: 50%;
	right: -1.8em;
	top:-1.8em;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	font-size: 0.5em;
}

/* 鼠标点击样式  文本不可选择 */
.pointer{
	cursor: pointer;
	user-select: none;
}


