<!DOCTYPE html>
<html>


	<head>

		<title>Bootstrap 模板</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
		<!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
	</head>
	<body>
<div id="index">
	<router-link to="orderlist">orderlist</router-link>
	<router-view></router-view>
	
	
</div>


		<!-- 订单组件 -->
		<template id="orderlistcpn">
			<div id="orderlist">
				<button @click="getOrder">getOrder</button>
				<div>
					<header>
						我的订单
					</header>
				</div>
				<div><!-- 未支付订单信息 -->
					未支付订单信息:
				</div>
				<ul><!-- 商家列表 -->
					<li v-for="(shop,index) in noPayList">
						
						<div>{{shop.shopname}}</div>
						<div>
							<span>￥{{shop.amount}}</sapn>
						</div>
						<button >去支付</button>
						<ul><!-- 订餐内容列表 -->
							<li v-for="(product,index) in shop.productlist">
								<span>{{product.name}} x {{product.count}}</span><span>￥15</span>
							</li>
							<li><span>配送费</span><span>￥{{shop.deliveryCost}}</span></li>
						</ul>
					</li>
				</ul>
				<div>
					已支付订单信息:
				</div>
				<ul>
					<!-- 已支付订单信息 -->
					<li v-for="(shop,index) in alreadyPayList">
						<!-- 商家列表 -->
						<div>{{shop.shopname}}</div>
						<div>
							<span>￥{{shop.amount}}</sapn>
						</div>
						<button >去支付</button>
						<ul><!-- 订餐内容列表 -->
							<li v-for="(product,index) in shop.productlist">
								<span>{{product.name}} x {{product.count}}</span><span>￥15</span>
							</li>
							<li><span>配送费</span><span>￥{{shop.deliveryCost}}</span></li>
						</ul>
					</li>
				</ul>
			</div>
		</template>




		<script src="./js/jquery-3.3.1.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/vue.js"></script>
		<script src="./js/vue-resources.js"></script>
		<script src="./js/vue-router.js"></script>
		<script src="./js/elm_orderlist.js"></script>
		<script src="./js/index.js"></script>


	</body>
</html>
